:root{
    --blue1: #0077bf;
    --black: black;
    --blue2: rgb(0, 124, 240);
    --white: #fff;
    --textShadow: 2px 2px 3px rgba(0, 0, 0, .6);
    --boxShadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

/* <!-- ----------------------------------------------------------------------- -->
<!--                                 margin                                  -->
<!-- ----------------------------------------------------------------------- --> */

/* <!-- -------------------------------- Left --------------------------------- --> */

.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}
/* <!-- -------------------------------- right -------------------------------- --> */

.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}

/* ----------------------------------- top ---------------------------------- */
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}

/* --------------------------------- bottom --------------------------------- */
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}

/* ---------------------------------- mist ---------------------------------- */
.m-tb-auto{
    margin-top: auto;
    margin-bottom: auto;
}

/* -------------------------------------------------------------------------- */
/*                                   display                                  */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- grid ---------------------------------- */
.d-2-culumns{
    display: grid;
    grid-template-columns: [first] 50% [second] 50%;
}
.d-1-culumns{
    display: grid;
    grid-template-columns: [first] 90%;
    margin: 0 5%;
}

/* ---------------------------------- flex ---------------------------------- */
.d-flex{
    display: flex;
}
.d-flex.d-flex-cullumn{
    flex-direction: column;
}

/* ---------------------------------- none ---------------------------------- */
.d-none{
    display: none;
}
/* ---------------------------------- Fonts --------------------------------- */
.font-bold{
    font-size: 2rem !important;
    font-weight: bolder;
}
.font-normal{
    font-size: 1.5rem;
    font-weight: 2px !important;
}